.sname {
    text-align: center;
    font-size: 18pt;
    font-family: Noto Sans Devanagari;
}
.dev,p {
    font-family: Noto Sans Devanagari;
    font-size: 15pt;
}
.title {
    font-family: Noto Sans Devanagari;
}